@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
html {
  font-family: 'Domine', Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

section {
  margin-bottom: 1.5em;
}

h1 {
  margin-bottom: 0.4em;
}

h2 {
  margin-bottom: 0.4em;
}

h3 {
  margin-bottom: 0.3em;
  font-weight: 500;
}
